.cardsContainer {
    width: 112.8rem;
    margin: 0 auto;
    padding: $space-unit 0;
    @include mq-sp() {
        width: 100%;
        padding: $padding-global;
    }
    
    &__inner {
        display: flex; flex-wrap: wrap;
    }
    
    &__list {
        margin-bottom: $space-unit;
        margin-right: $space-unit;
        &:nth-child(3n) {
            margin-right: 0;
        }
        @include mq-sp() {
            margin-right: 0;
        }
    }
}