.profileLabel {
    display: flex;
    
    &__icon {
        width: 4.8rem; height: 4.8rem;
        border-radius: 50%; //makes box rounded
        margin-right: 1rem;
        background-color: $color-temporary;
    }
    
    &__texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: $font-medium;
        
    }
    
    &__note {
        font-size: $font-small;
        
    }
}