//fonts
$font-JP: 'M PLUS Rounded 1c';
$font-large: 2rem;
$font-input: 1.6rem;
$font-medium: 1.4rem;
$font-small: 1rem;
$font-extraSmall: .8rem;
$font-bold: 700;
$font-regular: 400;
$font-thin: 300;

//width & height
$width-max-pc: 120rem;
$width-column-pc: 64rem;

//margin & padding $ spaces
$space-unit: 2.4rem;

$padding-headerHeight: 6.4rem;
$padding-global: 1.6rem;
$padding-button: .8rem 1.6rem;

$margin-icon: .8rem;

//border-radius
$radius-small: .6rem;
$radius-mediuem: .6rem;
$radius-large: 4rem;

//colors
$color-primary: #FFD700;

$color-text-primary: #120F00;
$color-text-secondary: #484848;
$color-text-tertiary: #F0F0F0;

$color-background: #FAFDF6;

$color-red: #FF8989;
$color-pink: #FF89C4;
$color-blue: #898AFF;
$color-green: #8AFF89;
$color-yellow: #FEFF89;

$color-white: #FFF;

$color-temporary: #F0F0F0;

//break points
$sp-max-window: 640px;
$pc-min-window: 641px;
